@font-face {
  font-family: "Evolventa";
  src: url("/fonts/evolventa.woff2") format("woff2"),
    url("/fonts/evolventa.woff") format("woff"),
    url("/fonts/evolventa.ttf") format("truetype");
}

@font-face {
  font-family: "BancoLight";
  src: url("/fonts/bancolight.woff2") format("woff2"),
    url("/fonts/bancolight.woff") format("woff"),
    url("/fonts/bancolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-tap-highlight-color: transparent;
}
